<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>University ID:</strong>
  <%= @student.university_id %>
</p>

<p>
  <strong>Average Score:</strong>
  <%= @student.average_student_score %>
<p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
