<p id="notice"><%= notice %></p>

<p>
  <strong>Subject name:</strong>
  <%= @grade.subject_name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @grade.score %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @grade.subject_id %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
